<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/Content/AssetsBS3/img/favicon.ico">
    <title>@ViewBag.Title</title>    
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    
    @Html.Partial("_Navbar")
    <div class="container-fluid">
        <div class="row row-offcanvas row-offcanvas-left">
            <div class="col-xs-6 col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">
                @Html.Partial("_Sidebar")
            </div>
            <div class="col-xs-12 col-sm-9 col-md-10">
                <div class="toggle-nav">
                   
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" data-toggle="offcanvas"></span>
                    
                </div>
                @RenderBody()
            </div>
        </div>
        <hr>
        <footer>
            <p>© Company 2014</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            $('[data-toggle="offcanvas"]').click(function () {
                $('.row-offcanvas').toggleClass('active')
            });
        });
    </script>
</body>
</html>