<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/Content/AssetsBS3/img/favicon.ico">
    <title>@ViewBag.Title</title>    
    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />   
    <link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/main")
    @Scripts.Render("~/bundles/app")
   
</head>
<body>
    
    @Html.Partial("_Navbar")
    <div class="container-fluid">
        <div class="toggle-nav">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
        </div>
        <div class="row row-offcanvas row-offcanvas-left">
            <div class="col-xs-6 col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">
                @Html.Partial("_Sidebar")
            </div>
            <div class="col-xs-12 col-sm-9 col-md-10">
                
                @RenderBody()
            </div>
        </div>
        <hr>
        <footer>
            <p>© Company 2014</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            $("[data-toggle=offcanvas]").click(function () {
                $('.row-offcanvas').toggleClass('active');
            });
        });
    </script>
    @*<script src="@Url.Content("~/Scripts/app/groupBuyStoreList.jsx")"></script>*@
</body>
</html>