@model HoGameEIS.Models.GroupBuyStore

@{
    ViewBag.Title = "StoreManagementEdit";
}


@Html.Partial("_GroupBuyNav")

<h4 class="page-header">店家基本資料</h4>

<div>
    <div class="col-sm-12 col-md-10 col-lg-8">
        <form role="form" method="post">
            <div class="form-group">
                <label for="exampleInputEmail1">店家名稱</label>
                <input type="text" class="form-control" name="StoreName" placeholder="輸入店家名稱" value=@Model.StoreName required>
                <label for="exampleInputEmail1">電話</label>
                <input type="text" class="form-control" name="Tel" placeholder="輸入電話" value=@Model.Tel>
                <label for="exampleInputEmail1">地址</label>
                <input type="text" class="form-control" name="Address" placeholder="輸入地址" value=@Model.Address>
                <label for="exampleInputEmail1">備註</label>
                <input type="text" class="form-control" name="Memo" placeholder="輸入備註" value=@Model.Memo>
                <label for="exampleInputEmail1">分類</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="Category" value="meal" @(Model.Category.Contains("meal") ? "checked" : "")>正餐
                    </label>
                    <label>
                        <input type="radio" name="Category" value="drink" @(Model.Category.Contains("drink") ? "checked" : "")>飲料
                    </label>
                    <label>
                        <input type="radio" name="Category" value="dessert" @(Model.Category.Contains("dessert") ? "checked" : "")>點心
                    </label>
                    <label>
                        <input type="radio" name="Category" value="groupbuy" @(Model.Category.Contains("groupbuy") ? "checked" : "")>團購
                    </label>
                    <label>
                        <input type="radio" name="Category" value="party" @(Model.Category.Contains("party") ? "checked" : "")>活動
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-default">新增/修改</button>
        </form>

    </div>
</div>

